[Unit]
Description=__DESCRIPTION__
After=network.target

[Service]
Type=simple
WorkingDirectory=__WORKING_DIRECTORY__
ExecStart=__EXEC_COMMAND__
Restart=on-failure

NoNewPrivilieges=true
PrivateTmp=true
ProtectSystem=strict

[Install]
WantedBy=default.target
